@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

body {
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}

.title {
    margin: 0;
    font-weight: 800;
    font-size: 3rem;
    background: -webkit-linear-gradient(#F33030, #F461B9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tagline {
    margin: 0;
    font-weight: 800;
    font-size: 1.2rem;
    background: -webkit-linear-gradient(#F33030, #F461B9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    margin: 0;
    font-weight: 800;
    font-size: 2rem;
    background: -webkit-linear-gradient(#F33030, #F461B9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}