@import './variables.scss';

.home {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .content {
        max-width: $content-width;
        margin-top: $header-height;
        padding: $space;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .section {
        margin-top: $space;
        margin-bottom: $space;
    }

    .divider {
        border-top: 2px solid #bbb;
        width: 100%;
    }
}

.hero {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    .description {
        width: $content-width/2.5;
        margin-right: $space;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

    }

    .showcase {
        width: $content-width/2.5;
        flex-wrap: wrap;
        flex-direction: column;
        display: flex;
        margin-top: $space*4;

        .ipad {
            width: $content-width/2.5;
        }
        .iphone {
            position: relative;
            top: -10rem;
            left: 1rem;
        }

    }
}

.features {
    margin-top: $space*3;
    margin-bottom: $space*3;

    display: flex;
    flex-direction: column;
    align-items: center;
    .list {
        font-weight: 800;
        li {
            margin-top: 1rem;
        }
        margin-bottom: $space*3;
    }
}




